.productContainer {
  width: 100vw;
  /* height: 100vh; */
  /* border: 1px solid black; */
  float: right;
  display: flex;
  background-color: white;
}

.productContainer2 {
  width: 280px;
  padding-top: 30px;
}
.productContainer2-details {
  padding: 1.5rem;
  margin-top: 3rem;
}
.productContainer-right {
  margin-left: 300px;
}

@media (max-width: 980px) {
  .productContainer2 {
    width: 180px;
    padding-top: 30px;
  }

  .productContainer-right {
    margin-left: 180px;
  }
}

@media (max-width: 480px) {
  .productContainer2 {
    width: 120px;
    font-size: 13px;
    padding-top: 30px;
  }
  .productContainer button {
    font-size: 14px;
  }

  .productContainer2 h6 {
    font-size: 13px;
  }

  .productContainer-right {
    margin-left: 105px;
  }
  .productContainer-right .btn {
    font-size: 12px;
  }

  .productContainer2-details {
    padding: 0.5rem;
    margin-top: 4rem;
  }
}
