.fadeInEffect {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Login Page  */

.login-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 20px;
}

.login-card {
  width: 100%;
  max-width: 600px;
  background: #ffffff;
  border-radius: 12px;
  padding: 40px 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.login-card h3 {
  color: #198754;
}

.login-card p {
  font-size: 14px;
  color: #6c757d;
}

.login-card .form-control {
  border-radius: 8px;
  padding: 12px;
}

.login-card .btn {
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s;
}

.login-card .btn:hover {
  background-color: #157347;
}

.login-card a {
  text-decoration: none;
}

.login-card a:hover {
  text-decoration: underline;
}

/* SignUp Page  */

.signup-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px;
}

.signup-card {
  width: 100%;
  max-width: 620px;
  background: #ffffff;
  border-radius: 12px;
  padding: 40px 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.signup-card h3 {
  color: #198754;
}

.signup-card p {
  font-size: 14px;
  color: #6c757d;
}

.signup-card .form-control {
  border-radius: 8px;
  padding: 12px;
}

.signup-card .btn {
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s;
}

.signup-card .btn:hover {
  background-color: #157347;
}

.signup-card a {
  text-decoration: none;
}

.signup-card a:hover {
  text-decoration: underline;
}

/* About Product */

.product-single-card {
  background: #fff;
  border-radius: 12px;
}

.single-product-img {
  position: relative;
  background: #f4f4f4;
  border-radius: 12px;
  overflow: hidden;
}

.single-product-img img {
  width: 100%;
  height: 420px;
  object-fit: contain;
  transition: 0.4s ease;
}

.single-product-img:hover img {
  transform: scale(1.05);
}

.discount-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: crimson;
  color: white;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 20px;
  font-weight: 600;
}

.product-line {
  font-size: 17px;
  color: #222;
}

.product-line span {
  font-weight: 600;
  color: #555;
  margin-right: 10px;
}

.price-line {
  font-size: 20px;
}

.old-price {
  text-decoration: line-through;
  color: #999 !important;
  margin-right: 10px;
}

.new-price {
  color: #198754 !important;
  font-weight: 700 !important;
}

.product-title {
  font-weight: 700;
  font-size: 32px;
  color: #222;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.product-title::after {
  content: "";
  width: 60%;
  height: 3px;
  background: #198754;   
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-radius: 10px;
}
